.loginform{
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__date {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;

    }
    &__body{
      flex: 1 1 auto;
    }

    &__text{
      color: #fff;
    }

    &__img{
      height: 100px;
    }

    &__input{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
    }

    .input-group-text{
      display: flex;
      align-items: center;
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      white-space: nowrap;
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      border-radius: .25rem;
  }
}