.sidebar{
    display: flex;
    flex-direction: column;
    &__header{
        width: 250px;
        height: 60px;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        padding: 0 15px;
        z-index: 5;
        background: #fff;
        background-clip: padding-box;
        border-bottom: 1px solid #e4e4e4;

        &-title{
            font-size: 22px;
            margin-left: 10px;
            margin-bottom: 0;
            letter-spacing: 1px;
            color: #008cff;
        }
    }
    &__dashboard{
        height: 92vh;
    }
}